body
{
    background-color:rgb(148, 142, 236) ;
    font-family: Arial, Helvetica, sans-serif;
}
.formula
{
    background-color:rgb(235, 171, 213) ;
    width: 10;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}
.formula input [ type= "text"],
.formula input [ type= "email"],
.formula input [ type= "tel"],
.formula input [ type= "date"],
.formula textarea
{
    width:60%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px rgb(248, 248, 238);
    font-size: 16px;
    font-family: Arial;
}